body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #96C9F4, #D2649A, #DFCCFB);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFCBCB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #EADBC8;
}

li .delete-button {
    background-color: transparent;
    color: #dc3545;
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    transition: color 0.3s, transform 0.3s;
}

li .delete-button:hover {
    color: #c82333;
    transform: scale(1.2);
}
